body {
	background-color: rgb(32,32,32);
	text-align: center;
	font-size: 1em;
	color: rgb(128,128,128);
	font-family: "Arial", Arial, sans-serif;
}
p.title {
	margin: 8px;
	font-size: 4em;
	color: rgb(32,192,32);
}
p.heading {
	margin: 8px;
	font-size: 2em;
	color: rgb(32,128,32);
}
p {
	margin: 8px;
}