
body {
	background-color: rgb(32,32,32);
	font-size: 1.25em;
	color: white;
	font-family: "Arial", Arial, sans-serif;
	cursor: default;
	-WEBKIT-USER-SELECT: NONE; /* SAFARI, CHROME */
    -KHTML-USER-SELECT: NONE; /* KONQUEROR */
    -MOZ-USER-SELECT: NONE; /* FIREFOX */
    -MS-USER-SELECT: NONE; /* IE */
    USER-SELECT: NONE; /* CSS3 */
	image-rendering: -moz-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}
p {
	margin: 4px;
}
input {
	color: white;
	background-color: black;
	border: 2px solid white;
}
select {
	font-size: 1em;
	background-color: black;
	color: white;
}
input[type=checkbox]{
	/* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}
input[type=text] {
	width: 50%;
}
p.title {
	margin: 4px;
	font-size: 2em;
	color: rgb(32,192,32);
	text-align: center;
}
p.heading {
	margin: 4px;
	font-size: 1.25em;
	color: rgb(32,128,32);
}
#blockSelection {
	width: 512px;
	height: 512px;
	table-layout: fixed;
	background-image: url("textures/blockSheet.png");
	background-color: white;
	background-size: cover;
	border-collapse: collapse;
	border: 1px solid white;
}
.selection {
	border: 1px solid white;
}
.selection:hover{
	background-color: rgba(255,255,255,0.1);
	border-color: black;
}
.selection:active {
	background-color: rgba(32,32,255,0.25);
	border-color: blue;
}
.selected {
	border: 1px solid blue;
	background-color: rgba(32,32,255,0.25);
	border-color: blue;
}
.group {
	vertical-align:center;
	text-align: right;
	display: block;
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#fps {
	color: black;
	background-color: grey;
	text-decoration: bold;
	position:absolute;
	z-index: 2;
}
#mode {
}
#canvas {
	z-index: 1;
	position: absolute;
	border: 4px solid black;
}
#blockGroup {
	overflow: scroll;
	height: 25%;
}
#toolBar {
	z-index: 0;
	width: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: right;
	background-color: rgb(16,16,16);
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border: 4px solid black;
	list-style: none;
}
.tool {
	width: 32px;
	height: 32px;
}
.tool:hover {
	background-color: rgba(255,255,255,0.5);
}
.button {
	font-size: 1em;
	transition-duration: 0.5s; /* delays for 1 second */
	cursor: default;
	
	display: inline-block;
	width: auto;
	height: auto;
	
	border: 2px solid white;
	border-radius: 4px;
	
	padding: 4px;
	margin: 4px;
}
.button:hover{
	background-color: white;
	color: black;
}
.button:active{
	background-color: white;
	border-color: black;
	color: black;
}
.button, a, a:visited, a:hover, a:active {
	background-color: black;
	text-decoration: none;
	color: white;
}
.layer {
	margin: 4px;
	width: 80%;
	text-align: center;
}
.selectedLayer {
	background-color: white;
	border-color: black;
	color: black;
}
	
